[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

gensim = "*"
nltk = "*"
ipython = "*"
matplotlib = "*"


[requires]

python_version = "3.5"
