[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

gensim = "*"
nltk = "*"
ipython = "*"
matplotlib = "*"
data-hacks = "*"
seaborn = "*"
jupyter = "*"
beautifulsoup4 = "*"
wget = "*"
requests = "*"


[requires]

python_version = "3"
