{% extends "main_app/extendables/base.html" %}

{% block navbar %}
     {% include "main_app/includables/navbar/navbar-version1.html" %}
{% endblock %}


{% block content %}
    <script src="/tbmm-derlem/static/account/js/logout.js"></script>

    <h1 class="text-center">Change Password</h1>
    <div class="row">
      <div class="col-md-4 offset-4">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-signin ">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-lg center-block"  name="action">Change Password</button>
        </form>

      </div>
    </div>

{% endblock %}